@model Vidly2.ViewModels.MovieFormViewModel


@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0) { ViewBag.ActionTitle = "New Movie"; }
else { ViewBag.ActionTitle = "Edit Movie"; }

<h2> @ViewBag.ActionTitle </h2>

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")

    <div class="form-group">
        @Html.LabelFor(model => model.Name):
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReleaseDate):
        @Html.TextBoxFor(model => model.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId):
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genre, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberInStock):
        @Html.TextBoxFor(model => model.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NumberInStock)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
